html,body {
  height:100%;
    font-family: alice;
}

h1 {
  font-family: alice;
  font-size:80px;
  color: white;
}

.lead {
    font-family: alice;
	color: light-grey;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:black;
  color:#eee;
  overflow:hidden;
    
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  
img {
    width: 100%;
    clear:none;
}

.courriel {
    font-family: alice; 
    font-size: 0.3em;
    font-weight: 100;
}